{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'products/style.css' %}">
{% endblock %}

{% block content %}

<div class="container mt-4 w-50 ml-auto mr-auto form-container p-4 mb-4">
    <div>
        <h1>Update Order</h1>
    </div>
    <form method="POST" class="mt-3 mb-2">
        {% csrf_token %}
        {{form.non_field_errors}}
            <div class="form-group col-md-6">
                {{form.status.label}}
                {{form.status}}
            </div>
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
</div>

{% endblock %}